./target
.classpath
.project
.settings

angryships-android/target
angryships-android/.classpath
angryships-android/.project
angryships-android/.settings
angryships-android/libs
angryships-android/.externalToolBuilders
angryships-android/gen

angryships-core/target
angryships-core/.classpath
angryships-core/.project
angryships-core/.settings

angryships-desktop/target
angryships-desktop/.classpath
angryships-desktop/.project
angryships-desktop/.settings

